* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  background-color: black;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container .box {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: box-reverse 1000ms forwards;
          animation: box-reverse 1000ms forwards;
}

.container .lines .line-1 {
  width: 50px;
  height: 10px;
  background-color: yellow;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-animation: line-1-animation-reverse 1000ms forwards;
          animation: line-1-animation-reverse 1000ms forwards;
}

.container .lines .line-2 {
  width: 50px;
  height: 10px;
  background-color: yellow;
  -webkit-animation: line-2-animation-reverse 500ms forwards;
          animation: line-2-animation-reverse 500ms forwards;
}

.container .lines .line-3 {
  width: 50px;
  height: 10px;
  background-color: yellow;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation: line-3-animation-reverse 1000ms forwards;
          animation: line-3-animation-reverse 1000ms forwards;
}

.play .box {
  -webkit-animation: boxRotate 1.5s forwards cubic-bezier(0.17, 0.67, 0.83, 0.67);
          animation: boxRotate 1.5s forwards cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.play .lines {
  -webkit-animation: rotateLines 2s forwards cubic-bezier(0.17, 0.67, 0.83, 0.67);
          animation: rotateLines 2s forwards cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.play .lines .line-1 {
  -webkit-animation: line-1-animation 1.5s forwards cubic-bezier(0.17, 0.67, 0.83, 0.67);
          animation: line-1-animation 1.5s forwards cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.play .lines .line-2 {
  -webkit-animation: line-2-animation 0.5s forwards cubic-bezier(0.17, 0.67, 0.83, 0.67);
          animation: line-2-animation 0.5s forwards cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.play .lines .line-3 {
  -webkit-animation: line-3-animation 1.5s forwards cubic-bezier(0.17, 0.67, 0.83, 0.67);
          animation: line-3-animation 1.5s forwards cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

@-webkit-keyframes boxRotate {
  from {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
    background-color: yellow;
  }
}

@keyframes boxRotate {
  from {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
    background-color: yellow;
  }
}

@-webkit-keyframes rotateLines {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateLines {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes line-1-animation {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  50% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(100%) rotate(45deg);
            transform: translateY(100%) rotate(45deg);
    background-color: black;
  }
}

@keyframes line-1-animation {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  50% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(100%) rotate(45deg);
            transform: translateY(100%) rotate(45deg);
    background-color: black;
  }
}

@-webkit-keyframes line-2-animation {
  from {
  }
  to {
    -webkit-transform: scale3d(0);
            transform: scale3d(0);
    opacity: 0;
  }
}

@keyframes line-2-animation {
  from {
  }
  to {
    -webkit-transform: scale3d(0);
            transform: scale3d(0);
    opacity: 0;
  }
}

@-webkit-keyframes line-3-animation {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  50% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(-100%) rotate(-45deg);
            transform: translateY(-100%) rotate(-45deg);
    background-color: black;
  }
}

@keyframes line-3-animation {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  50% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(-100%) rotate(-45deg);
            transform: translateY(-100%) rotate(-45deg);
    background-color: black;
  }
}

@-webkit-keyframes line-1-animation-reverse {
  0% {
    -webkit-transform: translateY(100%) rotate(45deg);
            transform: translateY(100%) rotate(45deg);
    background-color: black;
  }
  50% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes line-1-animation-reverse {
  0% {
    -webkit-transform: translateY(100%) rotate(45deg);
            transform: translateY(100%) rotate(45deg);
    background-color: black;
  }
  50% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@-webkit-keyframes line-2-animation-reverse {
  from {
    -webkit-transform: scale3d(0);
            transform: scale3d(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale3d(1);
            transform: scale3d(1);
    opacity: 1;
  }
}

@keyframes line-2-animation-reverse {
  from {
    -webkit-transform: scale3d(0);
            transform: scale3d(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale3d(1);
            transform: scale3d(1);
    opacity: 1;
  }
}

@-webkit-keyframes line-3-animation-reverse {
  0% {
    -webkit-transform: translateY(-100%) rotate(-45deg);
            transform: translateY(-100%) rotate(-45deg);
    background-color: black;
  }
  50% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes line-3-animation-reverse {
  0% {
    -webkit-transform: translateY(-100%) rotate(-45deg);
            transform: translateY(-100%) rotate(-45deg);
    background-color: black;
  }
  50% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@-webkit-keyframes box-reverse {
  from {
    background-color: yellow;
  }
  to {
    background-color: black;
  }
}

@keyframes box-reverse {
  from {
    background-color: yellow;
  }
  to {
    background-color: black;
  }
}
/*# sourceMappingURL=style.css.map */