@import url("https://fonts.googleapis.com/css?family=Oswald:700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
}

.container .square {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border: 5px solid black;
  -webkit-animation: rotate 3.5s infinite;
          animation: rotate 3.5s infinite;
}

.container .buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 85%;
}

.container .buttons .button {
  margin: 20px;
  height: 50px;
  width: 120px;
  text-align: center;
  line-height: 40px;
  font-family: Oswald;
  font-size: 20px;
  border: 5px solid black;
  cursor: pointer;
}

.container .buttons .button:hover, .container .buttons .button:active {
  background-color: yellow;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  10% {
    -webkit-transform: translate(-50%, -50%) rotate(10deg);
            transform: translate(-50%, -50%) rotate(10deg);
  }
  20% {
    -webkit-transform: translate(-50%, -50%) rotate(-10deg);
            transform: translate(-50%, -50%) rotate(-10deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
  70% {
    -webkit-transform: translate(-50%, -50%) rotate(-360deg);
            transform: translate(-50%, -50%) rotate(-360deg);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) rotate(-370deg);
            transform: translate(-50%, -50%) rotate(-370deg);
  }
  90% {
    -webkit-transform: translate(-50%, -50%) rotate(-350deg);
            transform: translate(-50%, -50%) rotate(-350deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  10% {
    -webkit-transform: translate(-50%, -50%) rotate(10deg);
            transform: translate(-50%, -50%) rotate(10deg);
  }
  20% {
    -webkit-transform: translate(-50%, -50%) rotate(-10deg);
            transform: translate(-50%, -50%) rotate(-10deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
  70% {
    -webkit-transform: translate(-50%, -50%) rotate(-360deg);
            transform: translate(-50%, -50%) rotate(-360deg);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) rotate(-370deg);
            transform: translate(-50%, -50%) rotate(-370deg);
  }
  90% {
    -webkit-transform: translate(-50%, -50%) rotate(-350deg);
            transform: translate(-50%, -50%) rotate(-350deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
/*# sourceMappingURL=style.css.map */